**/*.pdf
**/*.pptx
**/tmp/*
**/*.egg-info/*
**/.DS_Store
**/*.pth
**/*.pt
**/*.ckpt
**/*.pkl
**/*.onnx
**/*.csv
**/__pycache__/*
**/data/*
experiment/*
**/log/*
**/.vscode/*
**/checkpoint/*
**/runs/*
**/lightning_logs/*